<!--code for Valine-->
<script src="{{ '/comment/av-min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/comment/Valine.min.js' | prepend: site.baseurl }}"></script>

<div class="comment"></div>
<script>
  new Valine({
      av: AV, 
      el: '.comment',  
      app_id: '{{ site.valine_comment.appid }}', // 这里填写上面得到的APP ID
      app_key: '{{ site.valine_comment.appkey }}', // 这里填写上面得到的APP KEY
      placeholder: '{{ site.valine_comment.placeholder }}', // [v1.0.7 new]留言框占位提示文字
      verify: true,  // 邮件提醒
      notify: true
    });
</script>

<!--code for 网易云跟帖
<div class="panel docs-content">
  <article class="post-content">
    <div class="wrapper">
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
      <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
      <script>
      var cloudTieConfig = {
      url: document.location.href, 
      sourceId: "",
      productKey: "b6d55f09637f497389b80bafc11aada1",
      target: "cloud-tie-wrapper"
      };
      var yunManualLoad = true;
      Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
      </script>
    </div>
  </article>
</div> -->

<!--code for Gitment
<div id="container"></div>
 <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
 <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
 <script>
   var gitment = new Gitment({
     id: window.location.pathname, 
     owner: 'eillon',
     repo: 'eillon.github.io',
     oauth: {
     client_id: 'b7fa76731a0b82a335fe',
     client_secret: '606b263e5b014bd3df4ced321c998977133bb2b3',
     },
   })
   gitment.render('container')
 </script> -->